div#topo {
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

div#topo-logo img {
    width: 220px;
    height: 160px;
}

div#topo-titulo {
    margin: 0px;
    padding-bottom: 20px;
}

div#topo-titulo h1 {
    padding: 0px 20px 10px 20px;
    font-size: 1.6em;
    letter-spacing: 2px;
}

div#topo-titulo p {
    padding: 0px 20px 10px 20px;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

div#assinatura {
    height: 1350px;
}

div#conteiner-flex {
    flex-direction: column;
    align-items: center;
}

div#ass-titulo h2 {
    padding: 20px;
    margin-bottom: 15px;
    font-size: 1.5em;
}

div.planos {
    width: 270px;
    margin-bottom: 60px;
}

div.planos:hover {
    width: 300px;
}

div.planos td {
    padding: 18px;
    font-size: 1.1em;
    letter-spacing: 1px;
    color: var(--fundo);
}

div.conteiner-info {
    width: 90vw;
    flex-direction: column;
}

div.flex-info {
    justify-content: center;
}

aside.perguntas {
    width: 100%;
    padding: 50px 0px;
}

div.conteiner-per {
    width: 90vw;
}

#lista-contato {
    flex-wrap: wrap;
    margin-top: 10px;
}

#lista-contato li {
    margin: 5px 15px;
}