div#topo {
    height: 55vh;
    flex-direction: column;
    justify-content: flex-start;
}

div#topo-logo img {
    width: 180px;
    height: 150px;
}

div#topo-titulo {
    margin: 0px;
}

div#topo-titulo h1 {
    padding: 0px 20px;
    font-size: 1.6em;
    letter-spacing: 2px;
}

div#topo-titulo p {
    padding: 0px 20px 10px 20px;
    letter-spacing: 1px;
}

div#assinatura {
    height: 1350px;
}

div#conteiner-flex {
    flex-direction: column;
    align-items: center;
}

div#ass-titulo h2 {
    padding: 20px;
    margin-bottom: 15px;
    font-size: 1.5em;
}

div.planos {
    width: 270px;
    margin-bottom: 60px;
}

div.planos:hover {
    width: 300px;
}

div.planos td {
    padding: 18px;
    font-size: 1.1em;
    letter-spacing: 1px;
    color: var(--fundo);
}