@charset "UTF-8";

:root {
    --letra-padrao: #f0f8ff;
    --letra-destaque: #0096FD;
    --fundo: #212121;
    --fundo-destaque: #58b7f7;
    --redes: #8b7fca;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    
}

div#topo {
    display: flex;
    height: 400px;
    background-color: var(--fundo);

    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

div#topo-logo img {
    width: 400px;
    height: 350px;
    margin-right: 5vw;
}

div#topo-titulo {
    margin-left: 10vw;
}

div#topo-titulo h1 {
    letter-spacing: 3px;
    font-size: 2.2em;
    margin-bottom: 10px;
    color: var(--letra-padrao);
}

div#topo-titulo p {
    letter-spacing: 3px;
    line-height: 1.5em;
    color: var(--letra-padrao);
}

div#assinatura {
    height: 700px;
    background-color: var(--fundo-destaque);
}

div#conteiner-flex {
    display: flex;
    margin: auto;
    width: 80vw;
    justify-content: space-evenly;
}

div#ass-titulo h2{
    font-size: 2.2em;
    letter-spacing: 2px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--letra-padrao);    
}

div.planos {
    width: 380px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.411);

    transition: all 1s ease;
}

div.planos:hover {
    width: 500px;
}

div#plano-diamante {
    position: relative;
}

div.etiqueta {
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    
    background: #2196f3;
    color: #fff;
    
    padding: 8px 20px;
    border-radius: 20px;
    
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
}

div.planos table {
    width: 100%;
    background-color: var(--letra-padrao);
    border-radius: 5px 5px 0px 0px;

    /* border-collapse: collapse;
    position: relative;
    */
}

div.planos thead > tr > th {
    /* position: sticky;
    top: -1px; */

    letter-spacing: 2px;
    padding: 15px 0px 5px 0px;
}

th.plano-titulo {
    font-size: 1.2em;
}

th.plano-preco {
    font-weight: normal;
    color: rgb(100, 100, 100);
}

div.planos td {
    padding: 22px;
    font-size: 1.1em;
    letter-spacing: 1px;
    color: var(--fundo);
}

div.planos tfoot > tr > th {
    padding: 5px;
}

div.botao p {
    text-align: center;
    padding: 20px;
    font-size: 1.1em;
    letter-spacing: 1px;
    background-color: var(--fundo);
    color: var(--letra-padrao);
    border-radius: 0px 0px 5px 5px;
}

div.botao a {
    text-decoration: none;
}

aside.sobre-nos {
    display: flex;
    height: 100%;
    padding: 50px 0px;
    background-color: var(--letra-padrao);

    justify-content: center;
    align-items: center;
}

div.conteiner-info {
    display: flex;
    width: 70vw;
    height: 70vh;
    border-radius: 5px;
    background-color: white;
    color: var(--fundo);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.089);
}

div.flex-info {
    display: flex;
    height: 100%;
    padding: 20px;
}

div.flex-info img {
    width: 220px;
    height: 160px;
    border-radius: 50%;
    border: 3px solid var(--letra-padrao);
    outline: 3px solid var(--letra-destaque);
}

div#info {
    align-content: center;
}

div.flex-info h2 {
    margin-bottom: 5px;
}

div.flex-info p {
    /* text-indent: 20px; */
    padding-right: 15%;
    margin-bottom: 10px;
    line-height: 1.6em;
    letter-spacing: 0.3px;
}

aside.perguntas {
    display: flex;
    width: 100vw;
    height: 100%;
    padding: 50px;
    background-color: var(--redes);
    color: var(--letra-padrao);

    flex-wrap: wrap;
    justify-content: center;
}

div.conteiner-per {
    width: 70vw;
    height: 100%;
    padding: 50px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.089);
    border-radius: 5px;

    align-content: center;
}

div.motivos {
    padding-right: 80px;
}

div.motivos h3{
    margin-bottom: 10px;
}

div

div.motivos h2 {
    margin-bottom: 15px;
}

div.motivos p {
    margin-bottom: 15px;
}

div.motivos ul > li {
    margin-bottom: 5px;
}

footer {
    height: 100%;
    background-color: var(--fundo);
}

div#rodape {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px;

    justify-content: center;
}

div#rodape h2 {
    font-size: 1.4em;
    color: var(--letra-padrao);
}

div#rodape p {
    color: var(--letra-padrao);
}

#lista-contato {
    display: flex;
    color: var(--letra-padrao);
}

#lista-contato li {
    padding-right: 10px;
    margin: 20px;
}

#lista-contato a {
    text-decoration: none;
    color: var(--letra-padrao);
}